@import "bootstrap";
body{
    padding-top: 40px;
}

.contact-form div{
    margin-top:10px;
}
.no-padding-sides{
    padding-left:0;
    padding-right: 0;
}
.no-padding-vertical{
    padding-top: 0;
    padding-bottom: 0;
}
.no-padding-left{
    padding-left: 0;
}