
<h2>Invitations</h2>
<div class="row">
  {{#each model as |invitation|}}
    <div class="col-md-4">
      <div class="panel panel-default ">
        <div class="panel-heading">
          <h3 class="panel-title"><b>ID: </b> {{invitation.id}}</h3>
        </div>
        <div class="panel-body">
          <p><b>Email: </b> {{invitation.email}}</p>          
        </div>
        <div class="panel-footer text-right">          
          <button class="btn btn-danger btn-xs" {{action 'deleteInvitation' library}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
